{% load socialaccount %} {% providers_media_js %} {% load static %}

<!DOCTYPE html>
<html>
  {% include 'frontend/head.html' %}
  <body>
    {% include 'frontend/lists_header.html' %} {% if user.is_authenticated %}

    <div id="form-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <main>
              <form id="form">
                <div class="input-group mt-2 mb-2">
                  <input
                    id="title"
                    name="title"
                    type="text"
                    class="form-control"
                    placeholder="List Name"
                  />
                  <div class="input-group-append">
                    <button
                      id="createListBtn"
                      class="btn input-grp-shaddlebrown"
                      type="submit"
                    >
                      Create List
                    </button>
                  </div>
                </div>
              </form>
            </main>
          </div>
        </div>
        <!-- /row -->
        <div class="row">
          <div class="col-12">
            <main>
              <div id="lists-wrapper" class="continer-fluid"></div>
            </main>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /form-wrapper -->
    <script>
      var baseurl = window.location.origin;
      var activeItem = null;
      var listsSnapshot = [];
      var loggedInUsername = $("#logged_in_username").text();
      var csrftoken = getCookie("csrftoken");
      var current = null;
      var previous = null;

      function showLoader(listid) {
        $("#list-loader-" + listid).removeClass("d-none");
        return true;
      }

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }

      function getUserId() {
        var url = `${baseurl}/api/get-user-id/username/${loggedInUsername}`;
        console.log(`Fetching userid for username [${loggedInUsername}].. `);
        fetch(url)
          .then((resp) => resp.json())
          .then(function (data) {
            $("#logged_in_userid").text(data.id);
          });
      }

      function buildLists() {
        var url = baseurl + "/api/lists/" + loggedInUsername;
        var wrapper = document.getElementById("lists-wrapper");
        fetch(url)
          .then((resp) => resp.json())
          .then(function (data) {
            // console.log(`Fetching list/s using [${url}]..Done`);
            current = JSON.stringify(data);
            if (!(previous && current && previous !== current)) {
              // No change in response - no need to refresh the UI
              return;
            }
            console.log("Change detected - rerender the lists");
            // Continue with the flow
            previous = current;
            $("#loader").addClass("d-none");
            $("#createListBtn").html("Create List");
            $("#lists-wrapper").empty();
            var lists = data;
            console.log(data);
            if (lists.length == 0) {
              $("#message").removeClass("d-none");
              $("#message").text("Create a list to get started!");
              $("#message").addClass("animate__animated animate__headShake");
            } else {
              $("#message").addClass("d-none");
            }
            for (var i in lists) {
              var listid = lists[i].id;
              var title = lists[i].title;
              var user = lists[i].user;
              var href = baseurl + `/list/${listid}`;
              var title = `<span class="title">${lists[i].title}</span>`;
              var item = `
                <a
                  style=" text-decoration: none; display:block;"
                  class="col-12 shadow-sm p-2 mb-2 bg-white rounded animate__animated animate__slideInUp"
                  href="${href}"
                  id="${listid}"
                  onclick="showLoader(${listid}); return true;"
                >
                <span id="data-row-${i}" class="task-wrapper">
                  <span class="text-muted"><i class="fas fa-tasks"></i>&nbsp;&nbsp;&nbsp;</span>
                  <span class="text-black">
                    ${title}
                    <span class="d-none text-muted" id="list-loader-${listid}">
                      <small><span class="spinner-grow spinner-grow-sm fa-xs"></span></small>
                      <small><span class="spinner-grow spinner-grow-sm fa-xs"></span></small>
                      <small><span class="spinner-grow spinner-grow-sm fa-xs"></span></small>
                    </span>
                  </span>
                </span>
              </a>`;
              wrapper.innerHTML += item;
            }
          });
        //
      }

      function addNewList() {
        console.log("Adding new list..");
        if ($.trim($("#title").val()) == "") {
          alert("List name can not be left blank");
          return false;
        }
        $("#createListBtn").html(
          '<div>Creating list <div class="spinner-peru" style="float:right"></div></div>'
        );
        var url = baseurl + "/api/list-create/";
        if (activeItem != null) {
          var url = baseurl + `/api/list-update/${activeItem.id}`;
          activeItem = null;
        }
        var title = $("#title").val();
        var user = $("#logged_in_userid").text();

        console.log(`URL used: [${url}]`);
        fetch(url, {
          method: "POST",
          headers: {
            "Content-type": "application/json",
            "X-CSRFToken": csrftoken,
          },
          body: JSON.stringify({ title: title, users: [user] }),
        }).then(function (response) {
          $("#createListBtn").html(
            '<div>Creating list <div class="spinner-peru" style="float:right"></div></div>'
          );
          buildLists();
          var href = baseurl + `/list/${listid}`;
          document.getElementById("form").reset();
        });
      }
    </script>

    <script type="text/javascript">
      $(document).ready(function () {
        $("#form-wrapper").submit(function (e) {
          e.preventDefault();
          addNewList(e);
        });

        getUserId();
        // Setting previous and current to different values to force initial refresh
        previous = "x";
        current = "y";
        buildLists();
        setInterval("buildLists()", 60000);
      });
    </script>

    {% endif %}
  </body>
</html>

<!--
function editItem(item) {
          activeItem = item;
          document.getElementById("title").value = activeItem.title;
        }
-->
