{% load socialaccount %} {% if user.is_authenticated %}
<header class="header">
  <nav class="navbar" style="background: #723e28;">
    <a id="back" style="color: #723e28;">
      <i class="fas fa-arrow-left"></i>
    </a>
    <span>
      <button
        style="background: none; border: none; color: white;"
        class="dropdown-toggle"
        data-toggle="dropdown"
        data-disabled="true"
      >
        <img
          id="avatar"
          src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
          class="rounded-circle"
        />
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right m-1 p-1 text-shaddlebrown">
        <li>{{user.first_name}} {{user.last_name}}</li>
        <li>{{user.email}}</li>
        <div class="dropdown-divider"></div>
        <li>
          <a
            id="logout"
            class="btn btn-block text-white btn-shaddlebrown-faded"
            href="/accounts/logout"
          >
            Logout
          </a>
        </li>
      </ul>
    </span>
  </nav>
</header>
<div
  id="message"
  class="alert alert-peru text-center d-none"
  role="alert"
></div>
<div id="loader" class="alert alert-peru text-center" role="alert">
  Loading lists&nbsp;
  <span class="spinner-grow spinner-grow-sm"></span>
  <span class="spinner-grow spinner-grow-sm"></span>
  <span class="spinner-grow spinner-grow-sm"></span>
</div>
{% else %}

<div id="login" class="card card-body text-center p-2">
  <span class="text-dark text-left">Sign in</span>
  <hr />
  {% load socialaccount %}
  <a
    class="text-dark text-left"
    role="button"
    id="google_login"
    href="/accounts/google/login"
  >
    <img
      class="social-icon"
      alt="Google sign-in"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
    />Google
  </a>
  <hr />
</div>

{% endif %}
<!-- hidden spans -->
<span class="d-none" id="logged_in_username">{{user}}</span>
<span class="d-none" id="logged_in_userid"></span>
<span class="d-none" id="listid">{{listid}}</span>
<span class="d-none"> {{user}}</span>
<span class="d-none"> {{user.username}}</span>
<span class="d-none"> {{user.first_name}}</span>
<span class="d-none"> {{user.last_name}}</span>
<span class="d-none"> {{user.email}}</span>
