{% load socialaccount %}

<header class="header">
  <nav class="navbar" style="background: #723e28;">
    {% if user.is_authenticated %}
    <a id="back" href="" style="color: #00bfff;">
      <i class="fas fa-arrow-left"></i>
    </a>
    <span>
      <button
        id="lists-dropdown"
        class="btn btn-secondary rounded dropdown-toggle "
        data-toggle="dropdown"
        data-disabled="true"
      >
        <span>&nbsp;&nbsp;{{listtitle}}</span>
        <span class="caret"></span>
      </button>
      <ul
        class="dropdown-menu dropdown-menu-right mr-3 p-1"
        style="font-size: normal;"
      >
        <!-- 
        <li>{{user.first_name}} {{user.last_name}}</li>
        <li>{{user.email}}</li>
        <div class="dropdown-divider"></div>
        -->
        <li class="nav-item mb-1">
          <a
            class="btn btn-block text-white btn-shaddlebrown-faded"
            id="sharelist"
            onclick="shareList()"
            >Share list <!-- <i class="fas fa-share-alt"></i> -->
          </a>
        </li>
        <li class="nav-item mb-1">
          <a
            class="btn btn-block text-white btn-shaddlebrown-faded"
            id="deletelist"
            onclick="deleteList()"
            >Delete list<!-- <i class="fas fa-ban"></i> -->
          </a>
        </li>
        <li class="nav-item">
          <a
            id="logout"
            class="btn btn-block text-white btn-shaddlebrown-faded"
            href="/accounts/logout"
            >Logout <!--<i class="fas fa-sign-out-alt"></i>-->
          </a>
        </li>
      </ul>
    </span>

    {% else %}
    <a id="google_login" href="/accounts/google/login">
      Sign in with Google
    </a>
    {% endif %}
  </nav>
</header>

<div id="loader" class="alert alert-peru text-center" role="alert">
  Loading tasks&nbsp;&nbsp;
  <span class="spinner-grow spinner-grow-sm"></span>
  <span class="spinner-grow spinner-grow-sm"></span>
  <span class="spinner-grow spinner-grow-sm"></span>
</div>

<!-- hidden spans -->
<span class="d-none" id="logged_in_username">{{user}}</span>
<span class="d-none" id="logged_in_userid"></span>
<span class="d-none" id="listid">{{listid}}</span>
<span class="d-none" id="listtitle">{{listtitle}}</span>
<span class="d-none">{{user}}</span>
<span class="d-none">{{user.username}}</span>
<span class="d-none">{{user.first_name}}</span>
<span class="d-none">{{user.last_name}}</span>
<span class="d-none">{{user.email}}</span>
