{% load socialaccount %} {% providers_media_js %} {% load static %}

<!DOCTYPE html>
<html>
  {% include 'frontend/head.html' %}
  <body>
    {% include 'frontend/tasks_header.html' %}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <main>
            <div id="task-container">
              <div id="form-wrapper">
                <form id="form">
                  <div class="input-group mb-2 mt-2">
                    <input
                      id="title"
                      name="title"
                      type="text"
                      class="form-control text-shaddlebrown"
                      style="border: 1px solid #ccc;"
                      placeholder="Task Name"
                    />
                    <div class="input-group-append">
                      <button
                        id="addTaskBtn"
                        class="btn input-grp-shaddlebrown"
                        type="submit"
                      >
                        Add Task
                      </button>
                    </div>
                  </div>
                </form>
              </div>

              <div id="tasks-wrapper">
                <div id="pending-tasks"></div>

                <div class="text-center p-1">
                  <a
                    id="show-completed-tasks"
                    class="btn btn-sm badge-shaddlebrown text-light d-none"
                    data-toggle="collapse"
                    href="#completed-tasks"
                    role="button"
                    aria-expanded="false"
                    aria-controls="completedTasks"
                  >
                    Show completed tasks
                  </a>
                </div>
                <div class="collapse" id="completed-tasks"></div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var listid = $("#listid").text();
      var baseurl = window.location.origin;
      var listtitle = $("#listtitle").text();
      var csrftoken = getCookie("csrftoken");
      var activeItem = null;
      var tasks_snapshot = [];
      var loggedInUsername = $("#logged_in_username").text();

      var previous = null;
      var current = null;

      $("#back").attr("href", baseurl);

      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "btn btn-shaddlebrown m-1",
          cancelButton: "btn btn-secondary m-1",
        },
        buttonsStyling: false,
      });
      function getUserId() {
        var url = baseurl + "/api/get-user-id/username/" + loggedInUsername;
        console.log(`Fetching userid for username [${loggedInUsername}].. `);
        fetch(url)
          .then((resp) => resp.json())
          .then(function (data) {
            console.log(
              `Fetching userid for username [${loggedInUsername}]..Done `
            );
            console.log(`UserID = [${data.id}]`);
            $("#logged_in_userid").text(data.id);
          });
      }

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }

      function editItem(item) {
        console.log(`Item clicked [${item.title}]`);
        activeItem = item;
        document.getElementById("title").value = activeItem.title;
        $("#title").focus();
        $("#form")
          .addClass("animate__animated animate__shakeX")
          .one(
            "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
            function () {
              $(this).removeClass("animate__animated animate__shakeX");
            }
          );
      }

      function deleteItem(item) {
        console.log(`Deleting item with id[${item.id}]`);
        $("#task-delete-loader-" + item.id).html(
          '<!-- <span style="float:right;" class="spinner-border spinner-border-sm text-danger"></span>-->' +
            '<div><div class="spinner-danger" style="float:right"></div></div>'
        );
        fetch(baseurl + `/api/task-delete/${item.id}`, {
          method: "DELETE",
          headers: {
            "Content-type": "application/json",
            "X-CSRFToken": csrftoken,
          },
        }).then((response) => {
          buildTasks();
        });
      }

      function strikeUnstrike(item) {
        url = baseurl + `/api/task-update/${item.id}`;
        var listid = $("#listid").text();
        console.log("Toglling complete status..");
        console.log(`URL used [${url}]`);
        $("#task-loader-" + item.id).removeClass("d-none");
        item.completed = !item.completed;
        fetch(url, {
          method: "POST",
          headers: {
            "Content-type": "application/json",
            "X-CSRFToken": csrftoken,
          },
          body: JSON.stringify({
            title: item.title,
            completed: item.completed,
            _list: $("#listid").text(),
          }),
        }).then((response) => {
          console.log("Toglling complete status..Done");
          console.log("Rebuilding tasks");
          buildTasks();
        });
      }

      function buildTasks() {
        var url = baseurl + `/api/tasks/${listid}`;
        var wrapper = document.getElementById("tasks-wrapper");

        fetch(url)
          .then((resp) => resp.json())
          .then(function (data) {
            // Refresh the page only if there is a change in the response
            // that is - if the tasks is/are modified
            // current and previous variables keep track of the values
            current = JSON.stringify(data);
            if (!(previous && current && previous !== current)) {
              // No change in response - no need to refresh the UI
              return;
            }
            console.log("Change detected - rerender the tasks");
            // Continue with the flow
            previous = current;
            $("#loader").hide();
            $("#addTaskBtn").html("Add Task");
            // console.log(`Fetching tasks/s using [${url}]..Done`);
            $("#pending-tasks").empty();
            $("#completed-tasks").empty();
            var tasks = data;
            var completedTasksCount = 0;
            var pendingTasksCount = 0;

            for (var i in tasks) {
              var item;
              var taskid = tasks[i].id;
              var completed = tasks[i].completed;
              var title = `<span class="title">${tasks[i].title}</span>`;
              item = `
              <div id="data-row-${i}" class="shadow-sm p-2 mb-2 bg-white rounded animate__animated animate__slideInUp" style="width:100%;display:inline-flex">
                <div style="width:93%">`;

              if (tasks[i].completed == true) {
                completedTasksCount += 1;
                item += `
                  <input type="checkbox"  class="cb" checked="checked">
                  <span class="text-dark"><del>${title}</del></span>`;
              } else {
                pendingTasksCount += 1;
                item += `
                  <input type="checkbox" class="cb">
                  <span class="text-dark">${title}</span>`;
              }
              item += `              
                  <span class="d-none" id="task-loader-${taskid}">
                    <small><span class="spinner-grow spinner-grow-sm fa-xs"></span></small>
                    <small><span class="spinner-grow spinner-grow-sm fa-xs"></span></small>
                    <small><span class="spinner-grow spinner-grow-sm fa-xs"></span></small>
                  </span>
                </div>
                <div style="width:7%;align-self:center;">
                  <span id="task-delete-loader-${taskid}" class="text-danger"><i class="fas fa-trash-alt delete" style="float:right"></i></span>
                </div>
              </div>`;

              if (tasks[i].completed == true) {
                $("#completed-tasks").append(item);
              } else {
                $("#pending-tasks").append(item);
              }
            }
            if (completedTasksCount > 0) {
              $("#show-completed-tasks").removeClass("d-none");
            } else {
              $("#show-completed-tasks").addClass("d-none");
            }
            tasks_snapshot = tasks;
            for (var i in tasks) {
              var deleteBtn = document.getElementsByClassName("delete")[i];
              var title = document.getElementsByClassName("title")[i];
              var checkbox = document.getElementsByClassName("cb")[i];
              deleteBtn.addEventListener(
                "click",
                (function (item) {
                  return function () {
                    deleteItem(item);
                  };
                })(tasks[i])
              );

              title.addEventListener(
                "click",
                (function (item) {
                  return function () {
                    editItem(item);
                  };
                })(tasks[i])
              );

              checkbox.addEventListener(
                "change",
                (function (item) {
                  return function () {
                    strikeUnstrike(item);
                  };
                })(tasks[i])
              );
            }
          });
      }

      function addTask() {
        var inp = $("#title").val();
        if (jQuery.trim(inp).length == 0) {
          swalWithBootstrapButtons.fire({
            animation: false,
            html: "Task can't be empty!",
          });
          return false;
        }
        $("#addTaskBtn").html(
          '<div>Adding Task <div class="spinner-peru" style="float:right"></div></div>'
        );
        var url = baseurl + "/api/task-create/";
        if (activeItem != null) {
          var url = baseurl + `/api/task-update/${activeItem.id}`;
          activeItem = null;
        }

        var title = document.getElementById("title").value;
        fetch(url, {
          method: "POST",
          headers: {
            "Content-type": "application/json",
            "X-CSRFToken": csrftoken,
          },
          body: JSON.stringify({ title: title, _list: listid }),
        }).then(function (response) {
          console.log("Adding task..Done");
          $("#addTaskBtn").html(
            '<div>Adding Task <div class="spinner-peru" style="float:right"></div></div>'
          );

          buildTasks();
          document.getElementById("form").reset();
        });
      }

      function deleteList() {
        var baseurl = window.location.origin;
        var listid = $("#listid").text();
        var listtitle = $("#listtitle").text();
        var url = baseurl + `/api/list-delete/${listid}`;

        const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
            confirmButton: "btn btn-shaddlebrown m-1",
            cancelButton: "btn btn-secondary m-1",
          },
          buttonsStyling: false,
        });

        swalWithBootstrapButtons
          .fire({
            animation: false,
            html: `Are you sure to delete <span class="text-info font-weight-bold">${listtitle}</span>`,
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            showLoaderOnConfirm: true,
            preConfirm: (deletelist) => {
              return fetch(url, {
                method: "DELETE",
                headers: {
                  "Content-type": "application/json",
                  "X-CSRFToken": csrftoken,
                },
              })
                .then((response) => {
                  if (!response.ok) {
                    throw new Error(response.statusText);
                  }
                  return response.json();
                })
                .catch((error) => {
                  Swal.showValidationMessage(`Request failed: ${error}`);
                });
            },
            allowOutsideClick: () => !Swal.isLoading(),
          })
          .then((result) => {
            if (result.value) {
              window.location.replace(baseurl);
              /*
                    const Toast = Swal.mixin({
                      toast: true,
                      position: "center",
                      showConfirmButton: false,
                      timer: 2000,
                      timerProgressBar: true,
                      // onOpen: (toast) => {
                      //   toast.addEventListener("mouseenter", Swal.stopTimer);
                      //   toast.addEventListener("mouseleave", Swal.resumeTimer);
                      // },
                    });
                    Toast.fire({
                      animation: false,
                      icon: "success",
                      title: "List deleted. Redirecting to home page..",
                    }).then(function () {
                      window.location.replace(baseurl);
                    });
                    */
            }
          });
      }

      function shareList() {
        var listid = $("#listid").text();
        var listtitle = $("#listtitle").text();
        var baseurl = window.location.origin;
        swalWithBootstrapButtons
          .fire({
            animation: false,
            title: "Invite people",
            html:
              "Invitee will be able to <span class='text-shaddlebrown font-weight-bold'>see, edit & reshare the list</span><br/>",
            input: "email",
            inputPlaceholder: "name@gmail.com",
            confirmButtonText: "Invite",
            showCancelButton: true,
            showLoaderOnConfirm: true,
            preConfirm: (mailid) => {
              var url = `${baseurl}/api/get-user-id/email/${mailid}`;
              return fetch(url, {
                method: "GET",
                headers: {
                  "Content-type": "application/json",
                  "X-CSRFToken": csrftoken,
                },
              })
                .then((response) => {
                  if (!response.ok) {
                    throw new Error(response.statusText);
                  }
                  return response.json();
                })
                .catch((error) => {
                  Swal.showValidationMessage(`Request failed: ${error}`);
                });
            },
            allowOutsideClick: () => !Swal.isLoading(),
          })
          .then((result) => {
            if (result.value.user_id == -1) {
              const Toast = Swal.mixin({
                toast: true,
                position: "center",
                showConfirmButton: true,
                // timer: 3000,
                timerProgressBar: true,
                onOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              });

              swalWithBootstrapButtons
                .fire({
                  animation: false,
                  icon: "error",
                  html: `<b>${result.value.email_id}</b> not registered with todozyx<hr>Lists can only be shared with registered users!`,
                })
                .then(function () {
                  shareList();
                });
              // swal.fire("User not in todozyx");
            } else {
              swalWithBootstrapButtons.fire({
                animation: false,
                html: "Sharing..",
                showConfirmButton: false,
                onBeforeOpen: () => {
                  swalWithBootstrapButtons.showLoading();
                },
              });

              console.log(result.value.email_id);
              var url = `${baseurl}/api/list-share/${listid}/${result.value.user_id}`;
              console.log(url);
              fetch(url)
                .then((response) => response.json())
                .then((data) => {
                  if (data == "List already shared!") {
                    swalWithBootstrapButtons.fire({
                      animation: false,
                      icon: "success",
                      html: `<span><span class="font-weight-bold text-info">${result.value.email_id}</span> is already subscribed to list <span class="font-weight-bold text-info">${listtitle}</span>`,
                      confirmButtonColor: "#723e28",
                    });
                  } else if (data == "List successfully shared!") {
                    swalWithBootstrapButtons.fire({
                      icon: "success",
                      html: `List <span class="font-weight-bold text-info">${listtitle}</span> successfully shared with <span class="font-weight-bold text-info">${result.value.email_id}</span>`,
                    });
                  } else {
                    swalWithBootstrapButtons.fire({
                      icon: "warning",
                      title: `Invalid response recieved!`,
                    });
                  }
                });
            }
          });
      }
    </script>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#form-wrapper").submit(function (e) {
          e.preventDefault();
          addTask();
        });
        getUserId();

        // Setting previous and current to different values to force initial tasks refresh
        previous = "x";
        current = "y";
        buildTasks();
        setInterval("buildTasks()", 60000);
      });
    </script>
  </body>
</html>
